{% load staticfiles %}
{% load static %}
{% load djng_tags %}

<!DOCTYPE html>
<html lang="en" ng-app="notesApp">
<head>
	<title>Curanest - With you Always</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

	<!-- Web Fonts -->
	<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
<script src="https://use.fontawesome.com/69938aa5d3.js"></script>

	<link rel="stylesheet" href="static/css/style.css">

	<!-- CSS Header and Footer -->
	<link rel="stylesheet" href="static/css/header-v6.css">
	<link rel="stylesheet" href="static/css/footer-v1.css">



	<!-- CSS Implementing Plugins -->
	<!-- <link rel="stylesheet" href="http://htmlstream.com/preview/unify-v1.9.5/assets/plugins/animate.css"> -->
	<!-- <link rel="stylesheet" href="static/css/line-icons.css"> -->
	<!-- <link rel="stylesheet" href="http://htmlstream.com/preview/unify-v1.9.5/assets/plugins/font-awesome/css/font-awesome.min.css"> -->
	<link rel="stylesheet" href="static/css/settings.css" type="text/css" media="screen">

	<link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	
	<link rel="stylesheet" href="static/css/dark.css">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	
	<script type="text/javascript">
       angular.module('notesApp',[])
       .controller('MainCtrl',function(){
        
       	var self = this;

       	self.message1 = 'Take care of yourself,';
       	self.message2 = 'We will help you with the rest';

        self.resetMessage = function(){
        	    console.log("Test");
        	    self.message1 = 'Take care of yourself,';
       	        self.message2 = 'We will help you with the rest';
        }
       	self.changeMessage = function(element){
       		if(element == 'hospital'){
       			self.message1 = "Budget, Quality & Location";
       			self.message2 = "We provide all options to choose from";
       		}
       		if(element == 'appointment'){
       			self.message1 = "Can't afford waiting time";
       			self.message2 = "We book all your appointments in advance";
       		}
       		if(element == 'hotel'){
       			self.message1 = "Budget & Quality Stay";
       			self.message2 = "We ensure that as well & near hospital";
       		}
       		if(element == 'transport'){
       			self.message1 = "Needn't worry about transport";
       			self.message2 = "Rail,Air & Cab - All booking done by us";
       		}
       		if(element == 'care'){
       			self.message1 = "Help with hospital dealing";
       			self.message2 = "CuraAttend always at service for you";
       		}
       	}
       });
    </script>
    <style type="text/css">
    @media only screen and (max-width:480px){
     .feature-detail{
    	font-family: 'Open Sans', sans-serif; 
    	line-height: 200%;
    	letter-spacing: 1.2px; 
    	font-size:1.2em;
     }
    }
    @media only screen and (min-width:481px){
     .feature-detail{
        font-family: 'Open Sans', sans-serif;
        line-height: 260%;
        letter-spacing: 2px;
        font-size: 2em;
        font-weight:bold;
     }
    }


    .pointer:hover{
    	cursor: pointer;
    }
    </style>
</head>

<body class="header-fixed" ng-controller="MainCtrl as ctrl">
	<div class="wrapper">
		<!--=== Header v6 ===-->
		<div class="header-v6  header-sticky">
			<!-- Navbar -->
			<div class="navbar" role="navigation">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="menu-container">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

						<!-- Navbar Brand -->
						
						<div class="navbar-brand brand-name pointer">
								<img src="{% static "img/curanestlogo.png" %}" alt="Logo"><span style="color:#7CC5E3; font-family: 'Josefin Slab', serif;font-size:1.4em; font-weight: bold;"><span style="color:#5F99B0">cura</span>Nest</span>
						</div>
						<!-- ENd Navbar Brand -->
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-responsive-collapse">
						<div class="menu-container">
							<ul class="nav navbar-nav">
								<!-- Home -->
								<!-- <li>
									<a href="{% url "dashboard" %}">Home</a>
								</li> -->	
								<!-- End Home -->
								<!-- Features -->
									<li>
									   <a href="{% url "query" %}">Query</a>
									</li>
									<!-- <li>
									   <a href="{% url "hospitals" %}">Hospitals</a>
									</li> -->
									<li>
									   <a href="{% url "contactus" %}">Contact</a>
									</li>
								<!-- End Features -->

								<!-- Pages -->
								{% if request.user.is_authenticated %}
								<li class="dropdown">
									<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
										{{request.user}}
									</a>
									<ul class="dropdown-menu">


										<!-- Invoice Page -->
										<li><a href="page_invoice.html">Invoice Page</a></li>
										<!-- End Invoice Page -->

										<!-- Clients Page -->
										<li><a href="page_clients.html">Clients Page</a></li>
										<!-- End Clients Page -->

										<!-- Column Pages -->
										<li><a href="page_3_columns.html">Three Columns Page</a></li>
										<!-- End Column Pages -->

										<!-- Privacy Policy -->
										<li><a href="{% url "edit" %}">Edit Profile</a></li>
										<!-- End Privacy Policy -->

										<!-- Terms of Service -->
										<li><a href="{% url "django.contrib.auth.views.logout" %}?next=/">Logout</a></li>
										<!-- End Terms of Service -->

										<!-- Sub Level Menu -->
										
									</ul>
									{% else %}
									<!-- <li>
									    <a href="{% url "register" 'broker' %}"><b><u>HealthCare Agent</u></b></a>
									</li> -->
									<li>
									    <a href="{% url "register" 'patient' %}">Get Started</a>
									</li>
									<li>
									    <a href="{% url "login" %}">Login</a>
									</li>
								</li>
								{% endif %}
								<!-- End Pages -->


							</ul>
						</div>
					</div><!--/navbar-collapse-->
				</div>
			</div>
			<!-- End Navbar -->
		</div>
		<!--=== End Header v6 ===-->

		<!--=== Slider ===-->

    
		{% block content %}
        {% endblock %}
	
	    <div class="bg-grey content-sm" id="videos">
	    <div class="container">
		<div class="text-center margin-bottom-50">
		<h2 class="title-v2 title-center">More on What we Do</h2>
		</div>

        <div class="row">
        	<div class="col-sm-6 md-margin-bottom-40">
					<div class="thumbnails-v1">
						<div class="thumbnail-img embed-responsive embed-responsive-16by9">
							<iframe src="https://www.youtube.com/embed/Gkalxkdj-sA" frameborder="0" allowfullscreen></iframe>
						</div>
						<div class="caption">
							<h3><a href="#">English</a></h3>
							<p>Find out how curaNest can help you.</p>
							<p><a class="read-more" href="#">See More</a></p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 md-margin-bottom-40">
					<div class="thumbnails-v1">
						<div class="thumbnail-img embed-responsive embed-responsive-16by9">
							<iframe src="https://www.youtube.com/embed/Gkalxkdj-sA" frameborder="0" allowfullscreen></iframe>
						</div>
						<div class="caption">
							<h3><a href="#">Hindi</a></h3>
							<p>Find out how curaNest can help you.</p>
							<p><a class="read-more" href="#">See More</a></p>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		
		</div>
	    </div>
		</div>



		<div class="content-sm">
	    <div class="container">

        <div class="row">
        	<div class="col-xs-6">
					<div class="thumbnails-v1">

						<div class="caption">
							<h2 class="title-v2">Explore Hospitals</h2>
							<div class="feature-detail"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;Know Services</div>
							<div class="feature-detail"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;Compare Cost</div>
						</div>					
					
					</div>
				</div>
				<div class="col-xs-6">
					<div class="thumbnails-v1">
						<div class="thumbnail-img">
							<img align="right" class="img-responsive" src="{% static "img/hospital-main.png" %}" alt="">
						</div>
						
					</div>
				</div>
				
			</div>
		</div>
		
		</div>
	    </div>
		</div>

		<div class="bg-grey content-sm">
	    <div class="container">
        <div class="row">
				<div class="col-xs-6">
					<div class="thumbnails-v1">
						<div class="thumbnail-img">
							<img class="img-responsive" src="{% static "img/appointment-main.png" %}" alt="">
						</div>
						
					</div>
				</div>
				<div class="col-xs-6">
					<div class="thumbnails-v1">
						<div class="caption">
							<h2 class="title-v2">Appointment</h2>
							<div class="feature-detail"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;Ensured</div>
							<div class="feature-detail"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;At Comfort</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>

       <!--  <div class="row">
				<div class="col-sm-4 md-margin-bottom-40">
					<div class="thumbnails-v1">
						<div class="thumbnail-img">
							<img class="img-responsive" src="{% static "img/appointment-main.png" %}" alt="">
						</div>
						
					</div>
				</div>
				<div class="col-sm-8 md-margin-bottom-40">
					<div class="thumbnails-v1">
						
						<div class="caption">
							<h3><a href="#">Engage Customers With Curanest</a></h3>
							<p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text, all the  ipsum generators.</p>
							<p><a class="read-more" href="#">See More</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
-->		
		</div>
	    </div>
		</div>

		<div class="content-sm">
	    <div class="container">
        <div class="row">
        	<div class="col-xs-6">
					<div class="thumbnails-v1">
						
						<div class="caption">
							<h2 class="title-v2">Travel & Transport</h2>
							<div class="feature-detail"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;Plan Travel</div>
							<div class="feature-detail"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;Book Tickets</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="thumbnails-v1">
						<div class="thumbnail-img">
							<img align="right" class="img-responsive" src="{% static "img/transport-main.png" %}" alt="">
						</div>
						
					</div>
				</div>
				
			</div>
		</div>
		
		</div>
	    </div>
		</div>

        <div class="bg-grey content-sm">
	    <div class="container">
        <div class="row">
				<div class="col-xs-6">
					<div class="thumbnails-v1">
						<div class="thumbnail-img">
							<img class="img-responsive" src="{% static "img/hotel-main.png" %}" alt="">
						</div>
						
					</div>
				</div>
				<div class="col-xs-6">
					<div class="thumbnails-v1">
						<div class="caption">
							<h2 class="title-v2">Comfortable</h2>
							<div class="feature-detail"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;Afordable</div>
							<div class="feature-detail"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;Near Hospital</div>
						</div>					
						
					</div>
				</div>
			</div>
		</div>
		
		</div>
	    </div>
		</div>
        
        <div class="content-sm">
	    <div class="container">
        <div class="row">
        	<div class="col-xs-6">
					<div class="thumbnails-v1">
						<div class="caption">
							<h2 class="title-v2">Attendent & Support</h2>
							<div class="feature-detail"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;*****</div>
							<div class="feature-detail"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;*****</div>
						</div>						
						
					</div>
				</div>
				<div class="col-xs-6">
					<div class="thumbnails-v1">
						<div class="thumbnail-img">
							<img align="right" class="img-responsive" src="{% static "img/care-main.png" %}" alt="">
						</div>
						
					</div>
				</div>
				
			</div>
		</div>
		
		</div>
	    </div>
		</div>
		

		<!-- 
		<div class="parallax-counter-v1 parallaxBg">
			<div class="container">
				<h2 class="title-v2 title-light title-center">SOME FACTS AND SERVICES</h2>
				<p class="space-xlg-hor text-center color-light">If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.</p>

				<div class="margin-bottom-40"></div>

				<div class="row margin-bottom-10">
					<div class="col-sm-3 col-xs-6 md-margin-bottom-10">
						<div class="counters">
							<span class="counter">10629</span>
							<h4>Users</h4>
						</div>
					</div>
					<div class="col-sm-3 col-xs-6 md-margin-bottom-10">
						<div class="counters">
							<span class="counter">277</span>
							<h4>Projects</h4>
						</div>
					</div>
					<div class="col-sm-3 col-xs-6">
						<div class="counters">
							<span class="counter">78</span>
							<h4>Team Members</h4>
						</div>
					</div>
					<div class="col-sm-3 col-xs-6">
						<div class="counters">
							<span class="counter">109</span>
							<h4>Awards</h4>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container content-sm">
			<div class="row">
				<div class="col-sm-6 content-boxes-v3 content-boxes-v3-right sm-margin-bottom-30">
					<div class="margin-bottom-30">
						<i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-trophy"></i>
						<div class="content-boxes-in-v3">
							<h2 class="heading-sm">Innovation Leader</h2>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
						</div>
					</div>
					<div class="clearfix margin-bottom-30">
						<i class="icon-custom icon-md rounded-x icon-bg-darker icon-line icon-directions"></i>
						<div class="content-boxes-in-v3">
							<h2 class="heading-sm">Best Solutions &amp; Approaches</h2>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
						</div>
					</div>
					<div class="clearfix">
						<i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-rocket"></i>
						<div class="content-boxes-in-v3">
							<h2 class="heading-sm">SEO &amp; Advertising</h2>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
						</div>
					</div>
				</div>

				<div class="col-sm-6 content-boxes-v3">
					<div class="clearfix margin-bottom-30">
						<i class="icon-custom icon-md rounded-x icon-bg-darker icon-line icon-bar-chart"></i>
						<div class="content-boxes-in-v3">
							<h2 class="heading-sm">Analysis &amp; Consulting</h2>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
						</div>
					</div>
					<div class="clearfix margin-bottom-30">
						<i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-badge"></i>
						<div class="content-boxes-in-v3">
							<h2 class="heading-sm">Quality Service &amp; Support</h2>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
						</div>
					</div>
					<div class="clearfix">
						<i class="icon-custom icon-md rounded-x icon-bg-darker icon-line icon-envelope"></i>
						<div class="content-boxes-in-v3">
							<h2 class="heading-sm">Email Marketing</h2>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
						</div>
					</div>
				</div>
			</div>
		</div> -->

		<!-- <ul class="list-unstyled row portfolio-box-v1">
			<li class="col-md-3 col-sm-6">
				<img class="img-responsive" src="http://htmlstream.com/preview/unify-v1.9.5/assets/img/main/img12.jpg" alt="">
				<div class="portfolio-box-v1-in">
					<h3>Collective Package</h3>
					<p>Web Design, Mock-up</p>
					<a class="btn-u btn-u-sm btn-brd btn-brd-hover btn-u-light" href="#">Read More</a>
				</div>
			</li>
			<li class="col-md-3 col-sm-6">
				<img class="img-responsive" src="http://htmlstream.com/preview/unify-v1.9.5/assets/img/main/img4.jpg" alt="">
				<div class="portfolio-box-v1-in">
					<h3>Ahola Company</h3>
					<p>Brand Design, UI</p>
					<a class="btn-u btn-u-sm btn-brd btn-brd-hover btn-u-light" href="#">Read More</a>
				</div>
			</li>
			<li class="col-md-3 col-sm-6">
				<img class="img-responsive" src="http://htmlstream.com/preview/unify-v1.9.5/assets/img/main/img7.jpg" alt="">
				<div class="portfolio-box-v1-in">
					<h3>Unify Project</h3>
					<p>Web Development, HTML5</p>
					<a class="btn-u btn-u-sm btn-brd btn-brd-hover btn-u-light" href="#">Read More</a>
				</div>
			</li>
			<li class="col-md-3 col-sm-6">
				<img class="img-responsive" src="http://htmlstream.com/preview/unify-v1.9.5/assets/img/main/img17.jpg" alt="">
				<div class="portfolio-box-v1-in">
					<h3>Stand There</h3>
					<p>Brand Design, UI</p>
					<a class="btn-u btn-u-sm btn-brd btn-brd-hover btn-u-light" href="#">Read More</a>
				</div>
			</li>
		</ul>

		<div class="bg-grey content-sm">
			<div class="container">
				<div class="row">
					<div class="col-md-6 md-margin-bottom-40">
						<h2 class="title-v2">WE ARE CREATIVE</h2>
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
						<p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures.</p><br>
						<a href="#" class="btn-u btn-brd btn-brd-hover btn-u-dark">Read More</a>
						<a href="#" class="btn-u">Purchase Now</a>
					</div>
					<div class="col-md-6">
						<img class="img-responsive" src="http://htmlstream.com/preview/unify-v1.9.5/assets/img/mockup/mockup1.png" alt="">
					</div>
				</div>
			</div>
		</div>
 -->
		<!-- <div class="container team-v1 content-sm">
			<div class="margin-bottom-40 text-center">
				<h2 class="title-v2 title-center">MEET OUR TEAM</h2>
				<p>We <strong>meet</strong> and get to know you. You tell us and we listen. <br>
					We build your website to realise your vision and we <strong>deliver</strong> the ready product.</p>
			</div>

			<ul class="list-unstyled row">
				<li class="col-sm-3 col-xs-6 md-margin-bottom-30">
					<div class="team-img">
						<img class="img-responsive" src="http://htmlstream.com/preview/unify-v1.9.5/assets/img/team/img1-md.jpg" alt="">
						<ul>
							<li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
						</ul>
					</div>
					<h3>John Brown</h3>
					<h4>/ Technical Director</h4>
					<p>Technical Director mi porta gravida at eget metus id elit mi egetine...</p>
				</li>
				<li class="col-sm-3 col-xs-6 md-margin-bottom-30">
					<div class="team-img">
						<img class="img-responsive" src="http://htmlstream.com/preview/unify-v1.9.5/assets/img/team/img2-md.jpg" alt="">
						<ul>
							<li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
						</ul>
					</div>
					<h3>Tina Krueger</h3>
					<h4>/ Lead Designer</h4>
					<p>Lead Designer mi porta gravida at eget metus id elit mi egetine...</p>
				</li>
				<li class="col-sm-3 col-xs-6">
					<div class="team-img">
						<img class="img-responsive" src="http://htmlstream.com/preview/unify-v1.9.5/assets/img/team/img3-md.jpg" alt="">
						<ul>
							<li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
						</ul>
					</div>
					<h3>David Case</h3>
					<h4>/ Web Developer</h4>
					<p>Web Developer in Unify agency porta gravida at eget metus id elit...</p>
				</li>
				<li class="col-sm-3 col-xs-6">
					<div class="team-img">
						<img class="img-responsive" src="http://htmlstream.com/preview/unify-v1.9.5/assets/img/team/img5-md.jpg" alt="">
						<ul>
							<li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
						</ul>
					</div>
					<h3>Kathy Reyes</h3>
					<h4>/ Creative Designer</h4>
					<p>Former Designer in Twitter non mi porta gravida at elit mi egetine...</p>
				</li>
			</ul>
		</div> -->
<!--
		<div class="bg-grey content-sm">
			<div class="container text-center">
				<h2 class="title-v2 title-center">FIND MORE ABOUT US</h2>
				<p class="space-lg-hor"></p><br>
				<a href="#" class="btn-u btn-brd btn-brd-hover btn-u-dark">Read About Us</a>
				<a href="#" class="btn-u">View Our Portfolio</a>
			</div>
		</div>
-->
		<!--=== Footer Version 1 ===-->
		<div class="footer-v1">
			<div class="footer">
				<div class="container">
					<div class="row">
						<!-- About -->
						<div class="col-md-3 md-margin-bottom-40">
							<a href="index.html"><img id="logo-footer" class="footer-logo" src="{% static "img/curanestlogo.png" %}" alt="" width="100"></a>
							<br>
							<span style="color:#7CC5E3; font-family: 'Josefin Slab', serif;font-size:1.4em; font-weight: bold;">Take care of yourself<br>Let us help you with the rest</span>
						</div><!--/col-md-3-->
						<!-- End About -->

						<!-- Latest -->
 						<div class="col-md-3 md-margin-bottom-40">
							<div class="posts">
								
							</div>
						</div> 
						

						<!-- Link List -->
						<div class="col-md-3 md-margin-bottom-40">
							<div class="headline"><h2>Useful Links</h2></div>
							<ul class="list-unstyled link-list">
								<li><a href="{% url "aboutus" %}">About us</a><i class="fa fa-angle-right"></i></li>
								<li><a href="{% url "aboutus" %}">Careers</a><i class="fa fa-angle-right"></i></li>
								<li><a href="{% url "contactus" %}">Contact us</a><i class="fa fa-angle-right"></i></li>
							</ul>
						</div><!--/col-md-3-->



						<!-- End Link List -->

						<!-- Address -->
						<div class="col-md-3 map-img md-margin-bottom-40">
							<div class="headline"><h2>Contact Us</h2></div>
							<address class="md-margin-bottom-40">
								2471, 4th B Main, 2nd Cross <br />
								Vimanapura, Bangalore - 560017 <br/>
								Karnataka, INDIA <br />
								Phone: +91 7022251144 <br />
								Email: <a href="mailto:curanest@gmail.com" class="">curanest@gmail.com</a>
							</address>                        

						</div><!--/col-md-3-->
						<!-- End Address -->
					</div>
				</div>
			</div><!--/footer-->

			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<p>
								2016 &copy; All Rights Reserved.
								<a href="#">Privacy Policy</a> | <a href="{% url "tandc" %}">Terms of Service</a>
							</p>
						</div>

						<!-- Social Links -->
						<div class="col-md-6">
							<ul class="footer-socials list-inline">
								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
										<i class="fa fa-facebook"></i>
									</a>
								</li>
								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
										<i class="fa fa-skype"></i>
									</a>
								</li>
								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
										<i class="fa fa-google-plus"></i>
									</a>
								</li>
								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
										<i class="fa fa-linkedin"></i>
									</a>
								</li>
								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
										<i class="fa fa-pinterest"></i>
									</a>
								</li>
								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble">
										<i class="fa fa-dribbble"></i>
									</a>
								</li>
							</ul>
						</div>
						<!-- End Social Links -->
					</div>
				</div>
			</div><!--/copyright-->
		</div>
		<!--=== End Footer Version 1 ===-->
	</div><!--/wrapper-->

	
	<!-- JS Global Compulsory -->
	<script type="text/javascript" src="http://htmlstream.com/preview/unify-v1.9.5/assets/plugins/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="http://htmlstream.com/preview/unify-v1.9.5/assets/plugins/jquery/jquery-migrate.min.js"></script>
<!-- 	// <script type="text/javascript" src="http://htmlstream.com/preview/unify-v1.9.5/assets/plugins/bootstrap/js/bootstrap.min.js"></script> -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- JS Implementing Plugins -->
	<script type="text/javascript" src="http://htmlstream.com/preview/unify-v1.9.5/assets/plugins/back-to-top.js"></script>
	<script type="text/javascript" src="http://htmlstream.com/preview/unify-v1.9.5/assets/plugins/smoothScroll.js"></script>
	<script type="text/javascript" src="http://htmlstream.com/preview/unify-v1.9.5/assets/plugins/jquery.parallax.js"></script>
	<script type="text/javascript" src="http://htmlstream.com/preview/unify-v1.9.5/assets/plugins/counter/waypoints.min.js"></script>
	<script type="text/javascript" src="http://htmlstream.com/preview/unify-v1.9.5/assets/plugins/counter/jquery.counterup.min.js"></script>
	<script type="text/javascript" src="http://htmlstream.com/preview/unify-v1.9.5/assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="http://htmlstream.com/preview/unify-v1.9.5/assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	<!-- JS Customization -->
	<script type="text/javascript" src="http://htmlstream.com/preview/unify-v1.9.5/assets/js/custom.js"></script>
	<!-- JS Page Level -->
	<script type="text/javascript" src="http://htmlstream.com/preview/unify-v1.9.5/assets/js/app.js"></script>
	<script type="text/javascript" src="http://htmlstream.com/preview/unify-v1.9.5/assets/js/plugins/style-switcher.js"></script>
	<script type="text/javascript" src="http://htmlstream.com/preview/unify-v1.9.5/assets/js/plugins/revolution-slider.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function() {
			App.init();
			App.initCounter();
			App.initParallaxBg();
			StyleSwitcher.initStyleSwitcher();
			RevolutionSlider.initRSfullScreenOffset();
		});
	</script>
	<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
	<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
	
</body>
</html>
