{% extends "base_all.html" %}
{% include "footer.html" %}

{% load bootstrap3 %}

{% block content %}
<div class="container" style="padding-top:8%">
<h2><u>Contact Us</u></h2>
<h3>Thank you for your interest in curaNest. We would love to hear from you.</h3>
<h3>Please use the form below:</h3>
<br/>
<form action="/contactus/" method="post" class="form">

    {% bootstrap_form form %} 
    {% csrf_token %} 
    {% buttons %}
    <button type="submit" class="btn btn-primary">  
 		 {% bootstrap_icon "star" %} Submit Query
    </button>
 	{% endbuttons %}
</form>
</div>

{% include "footer.html" %}
{% endblock %}